.card-style{
    width: 18rem;
    margin-left: 30px;
    
}
.item-img{
    width: 286px;
    height: 286px;
}
.body-height{
    height: 360px;
}
.border-container{
    border: none;
}
.card-manual{
    text-align-last: center;
    margin-top: 2rem;
}

.padding {
    margin-top: 35px;
}
.border {
    
    text-decoration: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .border:hover {
    border: 1px solid white;
   }
   
   .border:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }