.button-container{
    display: flex;
    justify-content: center;
 
}

/* From uiverse.io by @adamgiebl */
.button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 10px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;

   }
   
